@import 'kouto-swiss'




.home-content
  background-color #165e94
  &__title
    color #FFF
    font-weight: bold
    font-size: 3.33em
    width 100%
    border 3px dashed #00BAC8
    border-radius .8rem
    text-align center
    padding 4.2rem 2rem 5rem 2rem
  &__card
    display: inline-block;
    width: 30em
    min-height: 40em
    padding 3.2em
    margin-right: 4.2em
    background-color #1E8BC3
    box-shadow: inset 0px -3px 0px 0px #0f4b73;
    border-radius: .6rem
    color color-text-white
    overflow: hidden
    text-align: center;
    &:last-child
      margin-right 0
    &__img
      float none
      display block
      margin: 0 auto 2rem auto
    &__title
      font-size: 2.22rem
      margin-bottom 1.2rem
    &__paragraph
      font-family: ralewayfont
      font-size: 1.86em
      font-weight: 100;
      color: color-text-white
      letter-spacing: 0.56px
      line-height: 1.3em

@media screen and ( max-width: 1500px )
  .home-content
    &__card
      min-height 0
      width: 100%;
      display: block;
      margin-bottom 7rem
      text-align left
      &:last-child
        margin-bottom 0
      &__img
        float left
        margin-right 4em
      &__title
        font-size: 2.62rem
      &__paragraph
        font-size: 2.06em


/************************************\
  ANIM BOX PORTFOLIO
\************************************/

.whati__box__link
  display inline-block
  animation 3.5s couvercle infinite
#topbox
  animation 3.5s couvercle infinite
  transform translateY(0px)

#box
  #bcgbox
    transition fill .3s ease

@keyframes couvercle
  0%{
    transform translateY(0px)
    transform rotate(0deg)
  }

  5%{
    transform translateX(-6px)
  }

  10%{
    transform translateX(6px)
  }

  15%{
    transform translateX(-6px)
  }

  20%{
    transform translateX(6px)
  }

  25%{
    transform translateX(0)
  }

  100%{
    transform translateY(0)
  }

#box:hover
  #bcgbox
    transition fill .3s ease
    fill: #315366

/************************************\
  PARRALAX EFFECT
\************************************/

.whati__wrap-parralax
  max-width 900px
  position: relative
  margin: 0 auto
  height: 100%

.whati
  position: relative
  &__clavier
    position: absolute
    top: -50px
    left 0px
  &__telephone
    position: absolute
    left: -30px
    top 80px
  &__airmail
    position: absolute
    left 50px
    top: 200px
  &__ipad
    position: absolute
    right: -50px
    top -40px
  &__souris
    position: absolute
    right 180px
    top 30px
  &__ordinateur
    position: absolute
    right -80px
    top 220px




@media screen and (max-width: 788px)
  .whati__wrap-parralax
    img
      display none !important
    background-image url("../img/logo_home/bcg1.png");
    background-repeat no-repeat
    background-size contain
    retina-image( "../img/logo_home/bcg1.png", contain, "@2x" )

@media screen and (max-width: 682px)
  .whati__wrap-parralax
    background-image none !important

@media screen and (max-width: 616px)
  .home-content__card
    text-align center
  .home-content__card__img
    float none
    display block
    margin: 0 auto 2rem auto
  .introduction__computer-container
    width 100%
    svg
      .computer__text1
      .computer__text2
        display none
      margin: 0 auto
      display block
      width: 100%
