.portfolio-news
  background-color color-portolio-blue
  text-align center
  &__button
    background-color color-portfolio-button
    display inline-block
    height 5rem
    width 26rem
    color color-text-white
    border-radius 10rem
    font-size: 2rem
    font-weight: bold
    line-height 5rem
    text-align center
    text-transform uppercase
    transition trans
    &:hover
    &:focus
      background-color color-portfolio-button + 10%
      transition trans

.news-container
  &__browser
    min-height 10rem
    background-color grey
    display block
    border-radius .6rem
    overflow hidden
    z-index 1
  &__topbar
    height 2rem
    width 100%
    background-color #FFF
    box-shadow: 0 1px 0 rgba(0,0,0,.1)
    z-index 2
    &__circles
      display inline-block
      width .8rem
      height .8rem
      border-radius 1rem
      border 1px solid color-text-white - 15%
      background-color #F0F0F0
      position: absolute
      left: 2rem
      top .6rem
      &:after
      &:before
        content "";
        display inline-block
        width .8rem
        height .8rem
        border-radius 1rem
        border 1px solid color-text-white - 15%
        background-color #F0F0F0
        top: -.1rem
      &:before
        position: absolute
        left -1.3rem
      &:after
        position: absolute
        right -1.3rem


@media screen and (min-width: 455px)
  .news-container
    &__hovereffect
      width: 32.5rem;
      height: 38rem;
      background: #25282b
      opacity 0
      transition .3s ease-in
      &:before
        content ""
        width: 50px
        height: 27px
        display block
        background url(../img/eye.svg) no-repeat
        position: absolute
        top: 48%
        left: 43%
    &__img
      position absolute
      left: 0
      transition 3s ease
      z-index -1
    &__img-1
      bottom -187px
    &__img-2
      bottom -164px
    &__img-3
      bottom -495px
    &__img-4
      bottom -913px
      width 100%


  .news-container__browser:hover .news-container__hovereffect
    opacity .6
    transition .5s ease-in
  .news-container__browser:hover .news-container__img
    bottom 0

@media screen and (min-width: 1080px)
  .news-container
    &__browser
      border-radius .6rem .6rem 0 0

