.welcome
  background-color color-welcome-bckg
  color color-text-white
  text-align center
  padding 0 1.5rem
  background-image url(../img/portrait_vector_home.svg)
  background-repeat no-repeat
  background-position bottom center
  background-size 95%
  &__hello
    font-weight bold
    letter-spacing 0.1rem
    font-size 3.256rem
    & b
      color #6C7A89 - 50%
  &__description
    font-size: 2.118rem
    line-height 1.2
    font-weight normal


/************************************\
  START MEDIAQ
\************************************/

@media screen and (min-width: 491px)
  .welcome
    background-size 100%
    background-position center bottom -1px

@media only screen and (min-width: 508px)
  .welcome
   background-size 49rem 43.7rem