
.more
  background-color color-more-green
  background url(../img/more_computer_small.png) no-repeat top right/165px 157px, url(../img/more_cup_small.png) no-repeat top left/51px 61px, url(../img/more_arrow_small.png) no-repeat center 285px/257px 89px color-more-green
  text-align center
  padding 0 rem(15px)
  &__text
  &__button
    color color-text-white
  &__text
    display inline-block
    font-weight: bold
    text-transform uppercase
    font-size: rem(20px)
    margin-top rem(190px)
  &__button
    display block
    text-transform uppercase
    width rem(150px)
    height: rem(30px)
    border 2px solid color-text-white
    border-radius rem(100px)
    font-size: rem(16px)
    line-height rem(26px)
    text-align: center
    margin rem(10px) auto 0 auto
    &:hover
      background-color color-text-white
      color color-more-green
      transition trans

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx)
  .more
    background url(../img/more_computer_small@2x.png) no-repeat top right/165px 157px, url(../img/more_cup_small@2x.png) no-repeat top left/51px 61px, url(../img/more_arrow_small@2x.png) no-repeat center 285px/257px 89px color-more-green
@media screen and (min-width: 452px)
  .more
    background url(../img/more_computer_small.png) no-repeat top right/165px 157px, url(../img/more_cup_mid.png) no-repeat top left/168px 134px, url(../img/more_arrow_small.png) no-repeat center 285px/257px 89px color-more-green

  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx)
    .more
      background url(../img/more_computer_small@2x.png) no-repeat top right/165px 157px, url(../img/more_cup_mid@2x.png) no-repeat top left/168px 134px, url(../img/more_arrow_small@2x.png) no-repeat center 285px/257px 89px color-more-green


  @media screen and (min-width: 836px)
    .more
      background url(../img/more_computer.png) no-repeat top right/352px 265px, url(../img/more_cup.png) no-repeat top left/168px 134px, url(../img/more_phone.png) no-repeat 95% 95%/147px 172px, url(../img/more_arrow.png) no-repeat center 200px/780px 399px color-more-green
      &__text
        margin-top rem(350px)
        font-size: rem(34px)
      &__button
        width rem(260px)
        height: rem(53px)
        font-size: rem(20px)
        line-height: rem(50px)

    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx)
      .more
        background url(../img/more_computer@2x.png) no-repeat top right/352px 265px, url(../img/more_cup@2x.png) no-repeat top left/168px 134px, url(../img/more_phone@2x.png) no-repeat 95% 95%/147px 172px, url(../img/more_arrow@2x.png) no-repeat center 200px/780px 399px color-more-green

    @media screen and (min-width: 967px)
      .more
        background url(../img/more_computer.png) no-repeat top right/352px 265px, url(../img/more_cup.png) no-repeat top left/252px 201px, url(../img/more_phone.png) no-repeat 98% 95%/221px 258px, url(../img/more_arrow.png) no-repeat center 60%/830px 399px color-more-green
        &__text
          margin-top rem(350px)
          font-size: rem(34px)
        &__button
          width rem(260px)
          height: rem(53px)
          font-size: rem(20px)
          line-height: rem(50px)
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx)
        .more
          background url(../img/more_computer@2x.png) no-repeat top right/352px 265px, url(../img/more_cup@2x.png) no-repeat top left/252px 201px, url(../img/more_phone@2x.png) no-repeat 98% 95%/221px 258px, url(../img/more_arrow@2x.png) no-repeat center 60%/830px 399px color-more-green

      @media screen and (min-width: 1300px)
        .more
          background url(../img/more_computer.png) no-repeat top right/476px 358px, url(../img/more_cup.png) no-repeat top left/252px 201px, url(../img/more_phone.png) no-repeat 98% 95%/221px 258px, url(../img/more_arrow.png) no-repeat center 60%/830px 399px color-more-green

        @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx)
          .more
            background url(../img/more_computer@2x.png) no-repeat top right/476px 358px, url(../img/more_cup@2x.png) no-repeat top left/252px 201px, url(../img/more_phone@2x.png) no-repeat 98% 95%/221px 258px, url(../img/more_arrow@2x.png) no-repeat center 60%/830px 399px color-more-green
