.contact-me
  &__section-link
    background-color color-button-blue
    &__link
      display inline-block
      width rem(300px)
      height: rem(60px)
      text-align center
      line-height rem(48px)
      color color-text-white
      font-weight bold
      font-size: rem(30px)
      border 4px solid #FFFFFF
      border-radius rem(100px)
      &:hover
      &:focus
        background-color white
        color color-button-blue
        transition trans
  &__section-subtext
    color color-text-white
    font-size: rem(15px)


@media screen and (min-width: 741px)
  .contact-me
    background-color color-light-blue

@media screen and (min-width: 1017px)
  .contact-me
    &__section-link
      &__link
        width rem(450px)
        height: rem(90px)
        text-align center
        line-height rem(72px)
        font-size: rem(45px)

