
.whati
  background-color color-portolio-blue

/************************************\
  CARDS TOP
\************************************/

.whati
  &__card
    position: relative
    background-color #FFF
    max-width 33em
    padding 3em
    text-align center
    &__icon
      margin-bottom 2em
    &__title
      margin-bottom 0.573em
      color color-title-cards-top
      font-size: 2.62em
      text-transform uppercase
      font-weight: bold
    &__text
      margin-bottom 1.456em
      font-size: 2.06em
      color color-text-cards-top
      line-height .95em
    &__button
      font-size 1.6em
      color white
      background-color color-portolio-blue
      padding 0.438em 2.375em 0.598em
      border-radius 10em
      display inline-block
      &:focus
      &:hover
        transition trans
        background-color color-portolio-blue - 10%

.whati__blog
  border-right 1px solid #B2B2B2
.whati__contact
  border-right 1px solid #B2B2B2

.whati
  &__social
    &__button
      padding 0
      height 33px
      width 184px
      &__icon
        margin-right .4rem
        &:before
          display inline-block
          color inherit
          font-family: icon_font
          font-size: 1.5em
          position relative
          top 4px
        &:hover:before
        &:focus:before
          color #FFF - 8%
        &-minfb:before
          content "\e909"
        &-mintw:before
          content "\e908"
        &-mingit:before
          content "\e907"
        &-minlink:before
          content "\e906"
        &-minbe:before
          content "\e905"



/************************************\
  ANIMATION CARDS
\************************************/

.js--active
  .whati__blog
    transform translateX(330px)
    z-index 1
  .whati__social
    transform translateX(-330px)
    z-index 1
  .whati__contact
    z-index 2

.anim-cards
  .whati__blog
    transform translateX(0px)
    transition .6s cubic-bezier(.69,.07,.23,1)
  .whati__social
    transform translateX(0px)
    transition .6s cubic-bezier(.69,.07,.23,1)


/************************************\
  GO TO
\************************************/

.goto
  &__section
    color color-text-white
    &__title
      font-size: 4.24em
      text-transform: uppercase
    &__paragraph
      font-size: 2.06em
      font-family: ralewayfont
      font-weight: 100
      line-height: 1.3em
    &__button
      display: inline-block
      font-size 2.06em
      color color-footer-background
      background-color color-text-white
      padding .5rem 3.9rem .8rem
      border-radius 10rem
      transition border-radius .3s ease
      &:hover
        border-radius 0
        transition border-radius .3s ease

@media screen and (max-width: 817px)
  .whati__cards-container
    display flex
    flex-direction column
  .whati__card
    border none
  .whati
    height 150em
  .whati__title
    top 17em



