.contact-me
  &__section-link
    background-color color-button-blue
    &__link
      display inline-block
      width 30rem
      height: 6rem
      text-align center
      line-height 4.8rem
      color color-text-white
      font-weight bold
      font-size: 3rem
      border 4px solid #FFFFFF
      border-radius 10rem
      &:hover
      &:focus
        background-color white
        color color-button-blue
        transition trans
  &__section-subtext
    color color-text-white
    font-size: 1.5rem


@media screen and (min-width: 741px)
  .contact-me
    &__section-img
      position relative
      max-height 34.5rem
      display block
      background-color color-light-blue
      overflow hidden
      &__img
        width 100%
        height auto



