/* colors style
* by Jimmy Letecheur
*/


/************************************\
  BASE
\************************************/

color-text-white = #E7E7E7
color-button-blue = #0099BB
color-light-blue = #00B1C5

/************************************\
    HEADER
\************************************/
color-header-bluedark = #27384A
color-header-bluefocus = #005B97
color-header-white = #E7E7E7

/************************************\
    section.welcome
\************************************/
color-welcome-bckg = #6C7A89

/************************************\
  section.more
\************************************/
color-more-green = #4B8169

/************************************\
   section.portfolio
\************************************/

color-portolio-blue = #1E8BC3
color-portfolio-button = #1C1C1C

/************************************\
    footer
\************************************/

color-footer-background = #27384A
color-footer-social = #344557
color-footer-facebook = #446CB3
color-footer-github = #FFF
color-footer-behance = #9B59B6
color-footer-twitter = #19A7EA