/* colors style
* by Jimmy Letecheur
*/

/************************************\
    HEADER
\************************************/
color-header-bluedark = #27384A
color-header-bluefocus = #005B97
color-header-white = #E7E7E7

/************************************\
    section.welcome
\************************************/
color-welcome-bckg = #6C7A89
color-text-white = #E7E7E7