.portfolio-view
  position: relative
  padding 11.5rem 3rem 0 3rem
  /*min-height 55rem*/
  background-color color-welcome-bckg
  &__title
    font-family raleway
    font-size: 4.236em
    font-weight 600
    color: #FFF
    letter-spacing: 1.15px
    margin-bottom .3rem
  &__time
    display: block
    color color-text-white
    margin-bottom: 3rem
    font-family ralewayfont
    font-size: 15px
    font-weight: 100
  &__smalldesc
    font-size: 1.825em
    color: color-text-white
    letter-spacing: 0.49px;
    line-height: 2.3rem
    max-width 44.5rem
    margin-bottom 3rem
  &__towebsite
    display inline-block
    background-color #0099BB
    font-weight: bold
    font-size: 2.058em
    padding 1rem 5.5rem
    color #FFF
    border-radius 20rem
    &:after
      font-family: icon_font
      content "\e900"
      display inline-block
      margin-left 1.4rem
      font-size: 1.5rem
      position: relative
      top 2px
  &__imac
  &__iphone
    display block
    position: absolute
    bottom: -30px
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    max-width 100%
    height auto
  &__imac
    right: -100px
  &__iphone
    right -60px
    bottom -60px
    animation-duration 1.3s
  &__wrapintro
    max-width 110rem
    position: relative
    margin 0 auto
    min-height 450px

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}


/************************************\
 portfolio-techniques
\************************************/

.portfolio-techniques
  padding 8em 3rem
  &__section-title
    position: absolute
    top -9999px
    right: -9999px;

.portfolio-zonetext
  font-family ralewayfont
  &__title
    font-size: 3.33em
    color: #000
    letter-spacing: 0.99px;
    margin-bottom 3rem
    display block
  &__paragraph
    font-size: 1.618em
    color: #5C6168
    letter-spacing: 0.44px
    line-height: 2.2rem
    max-width 44.5rem

/************************************\
  PORTFOLIO DESCRIPTION
\************************************/

.portfolio-description
  background-color #F9F9F7
  padding 8em 3rem
  font-family: ralewayfont
  &__section-title
    position: absolute
    top -9999px
    left -9999px
  &__title
    font-size: 3.33em
    color: #000
    letter-spacing: 0.99px;
    margin-bottom 9rem
    display block
  &__paragraph
    font-size: 1.618em
    color: #5C6168
    letter-spacing: 0.44px
    line-height: 2.2rem
    max-width 100rem
    margin-bottom 2rem
    &:last-child
      margin-bottom 10rem


.portfolio-examples
  &__figcaption
    font-family ralewayfont
    max-width 70rem
    margin-top 3rem
    border-left 5px solid #BABAB7
    padding-left 3rem
    &__title
      font-size 2rem
      color #000
      letter-spacing 0.55px
      margin-bottom: 2rem
      display block
    &__paragraph
      font-size: 1.62rem
      font-style italic
      line-height 1.4em
  &__img
    display block
    max-width 100%
    height auto


.portfolio-fonts
  margin-top: 5rem
.portfolio-zonetext__img
  display block
  max-width 100%
  height auto
.portfolio-zonetext__img
  margin-bottom .3rem
.portfolio-zonetext__fonts-text
  position: absolute
  top -9999px
  left -9999px
.portfolio-zonetext__img-v2
  margin-top 1rem