.header
  position: relative
  left 0
  right 0
  box-sizing content-box
  height 5.1rem
  &__title
    display none
  &__logo
    display inline-block
  &__icon
    display none

.menu
  display inline-flex
  flex-wrap nowrap
  height 100%
  float: right
  &__title
    display: none
  &__item
    padding 0 2.5rem

.container
  overflow hidden
  *zoom: 1;

/************************************\
    RESPONSIVE MENU START
\************************************/
@media screen and (max-width: 740px)

  .site-pusher
    height: 100%

  .site-container
    overflow: hidden
    height: 100%

  .site-content
    height: 100%
    overflow-scrolling touch


  .header
    position: static
    &__icon
      position: relative
      display block
      font-size: 0
      float right
      &:after
        content ""
        width 6rem
        height: 5.1rem
        background-image url(../img/svg/menu-icon.svg)
        background-repeat no-repeat
        background-position center
        display inline-block

  .menu
    position: absolute
    right: 0
    top: 0
    bottom: 0
    overflow-y: scroll
    flex-direction column
    &__item
      padding-left 4rem
      display flex


  .with--sidebar
    overflow hidden
    height 100%
    .menu
      //display: inline-block
      //overflow hidden
      //position: fixed
    .site-cache
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0

