.portfolio-intro
  &__section-title
    position: absolute
    top: 9999px
    left -9999px

.portfolio-list__wrap
  max-width 80rem
  margin: 0 auto
.portfolio-list__workcol
  margin-bottom: 10rem

.portfolio-techniques__wrap-content
  max-width 110rem
  margin: 0 auto
  display flex
  justify-content space-between
  flex-direction row
  margin-bottom 6rem

.portfolio-description__wrap
.portfolio-examples
  max-width 110rem
  margin 0 auto

.portfolio-examples
  &__figure
    margin 5rem auto
    max-width 70rem
