

/************************************\
  CARDS TOP
\************************************/
.whati
  padding 0 2em
  text-align center
  padding-bottom 11.3em
.whati__cards-container
  max-width 100.5em
  display inline-flex
  position: relative
  top -140px



/************************************\
  GO TO
\************************************/

.goto
  max-width 110em
  height: 100%
  margin 0 auto
  display flex
  flex-direction row
  justify-content space-between
  margin-top: 5.2em
  &__section
    width 50%
    &__title
      margin-bottom: 1.8rem
    &__paragraph
      max-width 41.7rem
      margin: 0 auto 3rem auto
