.whati
  min-height 73.1em
@media screen and (max-width: 817px)
  .whati
    height 150em

/************************************\
  CARDS TOP
\************************************/
.whati
  padding 0 2em
  text-align center
.whati__cards-container
  max-width 100.5em
  display inline-flex
  position: relative
  top -140px

.blockbutton
  margin 6em auto 0 auto
