.welcome
  height 50rem
  &__title
    display none
  &__hello
    display: inline-block
    margin-top 5rem
  &__description
    display block

@media screen and (min-width: 414px)
  .welcome
    min-height 65rem
    &__hello
      margin-top 9rem

