.whati
  height 150em

/************************************\
  CARDS TOP
\************************************/
.whati
  padding 0 2em
  text-align center
.whati__cards-container
  max-width 100.5em
  display inline-flex
  position: relative
  top -213px