.about-intro__title-section
  position: absolute
  top 9999px
  left: -9999px

.about-cv
  &__timeline
    &-year
      position: absolute
      top: 0
      left 56.6%
    &-block:after
      content "";
      display block
      clear both

.about-cv__timeline-block:nth-child(even) .about-cv__timeline-content
  float right

.about-cv__timeline-block:nth-child(even) .about-cv__timeline-year
  left 32.1%

  /************************************\
   SKILLS SECTION
  \************************************/

.skills
  &__wrap
    max-width 85rem
    margin: 0 auto
  &__content:before
    display block
    content ""
    clear both


/**************************\
Media-queries Start
/**************************/

@media screen and ( max-width: 785px )
  .about-cv__timeline-block:nth-child(even) .about-cv__timeline-content
    float: none;
  .about-cv__timeline-content
    margin-left: 8em
  .about-cv__wrap:before
  .about-cv__timeline-circle
    margin-left: 0
    margin-right: 0
  .about-cv__wrap:before
    left: 4em
  .about-cv__timeline-circle
    left: 3.3em
  .about-cv__timeline-block:nth-child(even) .about-cv__timeline-year
  .about-cv__timeline-year
    left 5em
    top: -2em
  .about-cv__wrap
    max-width: 41.7em
    margin 0 auto

@media screen and ( max-width: 400px )
  .about-cv__wrap:before
    left 0
  .about-cv__timeline-circle
    left -7px
  .about-cv__timeline-content
    margin-left 4em
  .about-cv__timeline-block:nth-child(even) .about-cv__timeline-year, .about-cv__timeline-year
    left: 2.5em
  .skills__article__title
    font-size 2rem
  .skills__article__paragraph
    font-size 1.6rem
