.portfolio-intro
  &__section-title
    position: absolute
    top: 9999px
    left -9999px

.portfolio-list__wrap
  max-width 80rem
  margin: 0 auto
.portfolio-list__workcol
  margin-bottom: 10rem

.portfolio-techniques__wrap-content
  max-width 105rem
  margin: 0 auto
  display flex
  justify-content space-between
  flex-direction row
  margin-bottom 6rem

.portfolio-description__wrap
.portfolio-examples
  max-width 110rem
  margin 0 auto

.portfolio-examples
  &__figure
    margin 0rem auto 9rem auto
    max-width 70rem



/************************************\
  NEWS PORTFOLIO
\************************************/

.work
  position relative
  &-article
    position: relative
  &__browser
    height 44.2rem
    max-width 800px
    position relative
    display block
    margin 0 auto 0 auto
  &__topbar
    position: relative
  &__img
    max-width 100%
    height auto
  &__link
    font-size: 0
    display block



/**************************\
  STRAT RESPONSIVE
/**************************/

@media screen and ( max-width: 1017px )
  .portfolio-techniques__wrap-content
    flex-direction: column;
    max-width: 54em
    margin-bottom 0
    text-align center
  .portfolio-techniques__wrap-content-2
    flex-direction: column-reverse;
  .portfolio-zonetext
    margin-bottom 5em
    &__paragraph
      max-width: none
    &__img
      margin: 0 auto 1.5em auto
    &__img:nth-child(2)
      margin: 0 auto
    &__svg
      width: 100%

  .portfolio-zonetext__wrap-svg
    width: 70%;
    margin: 0 auto;

@media screen and ( max-width: 949px )
  .portfolio-view
    &__wrapintro
      text-align center
    &__title
    &__time
      margin 0 auto
    &__time
      margin 0 auto 2em auto
    &__imac
    &__iphone
      display: block;
      position static
      margin 0 auto
    &__wrap-img
      position relative
      margin-bottom 6em
    &__iphone
      position absolute
      right 12rem
      bottom 0
    &__smalldesc
      max-width: 30em
      margin: 0 auto 4rem auto
    &__towebsite
      margin-bottom: 6rem

@media screen and ( max-width: 664px )
  .portfolio-view__iphone
    display: none;
