.welcome
  height 50rem
  &__title
    display none
  &__hello
    display: inline-block
    margin-top 5rem
  &__description
    display block

@media screen and (min-width: 414px)
  .welcome
    min-height 65rem
    &__wrap
      font-size 2.06rem
      max-width 39rem
      padding 2.3rem 7rem

