.introduction
  height 92.9em
  &__title
    display none
  &__pencil
    display block
    margin 0 auto
  &__text
    max-width 22.823em
    margin 1.802em auto 1.802em auto
  &__button
    margin-top 1.802em


