html
    font-size 62.5%
    font-family bariolfont
    height 100%
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing antialiased

a
    text-decoration none
    color inherit





trans = .3s ease-out