/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */

// Settings
@import "settings/colors";
@import "settings/fonts";
@import "settings/widths.styl"

// Tools
// --- nothing here (yet)

// Generic
@import "generic/reset_meyer"
@import "generic/reset_flexbox"


// Base
@import "base/base.styl"


// Objects
@import "objects/header_objects.styl"
@import "objects/section.welcome_objects.styl"


// Components
@import "components/header_components.styl"
@import "components/section.welcome_components.styl"


// Trumps
// --- nothing here (yet)

p
  font-size 16px