/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */

// Settings
@import "settings/colors";
@import "settings/fonts";
@import "settings/widths.styl"

// Tools
@import "tools/rem.styl"

// Generic
@import "generic/reset_meyer"
@import "generic/reset_flexbox"


// Base
@import "base/base.styl"



// Components
@import "components/header_components.styl"
@import "components/section.welcome_components.styl"
@import "components/section.contact-me_components.styl"
@import "components/section.more_components.styl"
@import "components/section.portfolio.news_components.styl"
@import "components/section.footer__components.styl"
@import "components/secion.introduction_components.styl"
@import "components/home_components.styl"
//// Page about
@import "components/section.whati_components.styl"
@import "components/about/intro_components.styl"
@import "components/about/cv_components.styl"
@import "components/about/skills__components.styl"
@import "components/about/apps_components.styl"
//// Page portfolio list
@import "components/portfolio/portfolio_list_components.styl"
@import "components/portfolio/portfolio-view.styl"
//// Page contact
@import "components/contact.styl"

// Objects
@import "objects/header_objects.styl"
@import "objects/section.welcome_objects.styl"
@import "objects/section.contact-me_objects.styl"
@import "objects/section.more_objects.styl"
@import "objects/section.portfolio.news_objects.styl"
@import "objects/section.footer_objects.styl"
@import "objects/section.introduction_objects.styl"
@import "objects/section.whati_objects.styl"
@import "objects/home_objects.styl"
//// Page about
@import "objects/about_objects.styl"
/// Page portfolio list
@import "objects/portfolio_objects.styl"
//// Page contact
@import "objects/contact.styl"

// Trumps
// --- nothing here (yet)
