/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */

// Settings
@import "settings/colors";
@import "settings/fonts";
@import "settings/widths.styl"

// Tools
@import "tools/rem.styl"

// Generic
@import "generic/reset_meyer"
@import "generic/reset_flexbox"


// Base
@import "base/base.styl"


// Objects
@import "objects/header_objects.styl"
@import "objects/section.welcome_objects.styl"
@import "objects/section.contact-me_objects.styl"
@import "objects/section.more_objects.styl"
@import "objects/section.portfolio.news_objects.styl"


// Components
@import "components/header_components.styl"
@import "components/section.welcome_components.styl"
@import "components/section.contact-me_components.styl"
@import "components/section.more_components.styl"
@import "components/section.portfolio.news_components.styl"


// Trumps
// --- nothing here (yet)