.about-intro
  position: relative
  background-color #F8F8F8
  text-align center
  padding 9em 3em
  &__title
    display block
    font-size: 2.953rem
    margin-bottom 5rem
    & strong
      color #525252
  &__figure
    margin 0 auto 5rem auto
    max-width 23.8rem
    height auto
    &__img
      max-width 100%
      height auto
  &__description
    margin: 0 auto
    font-size: 2.321rem
    color: #525252
    letter-spacing: 0.66px
    line-height 1.2em
    max-width 70rem

.about-intro:after
  content ""
  display block
  height 55px
  width 55px
  border-radius 50%
  background-color #95A5A6
  position: absolute
  bottom: -35px
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0