@import "kouto-swiss"

.skills__section-title
  position: absolute
  top 9999px
  left -9999px

.skills
  background #ECF0F1
  padding 9rem 3rem
  &__article
    margin-bottom 10rem
  &__title
    font-weight: bold
    font-size: 2.953rem
    color: #525252
    letter-spacing: 0.82px
    text-transform: uppercase
    text-align: center
    margin-bottom: 2rem
  &__progress
    position: relative
    height 4rem
    width 100%
    border-radius 6px
    background-color #DCE0E0
    overflow: hidden
    margin-bottom 4.5rem
  &__progress-bar
    position: absolute
    height 100%
    width 95%
    border-radius 6px
    background-color #6C7A89
  &__progress-bar--js
    width 70%
  &__progress-bar--php
    width 50%
  &__content
    background: #FFF
    box-shadow: 0px 1px 1px 0px rgba(86,86,86,0.50)
    padding 2.5rem 5rem
  &__description
    font-size: 1.62rem
    color: #525252
    letter-spacing: 0.44px
    line-height: 1.8rem
    max-width 40.4rem
    margin: 0 auto
    & b
      color #000
  &__figure--html
    width 80px
    height 80px
    float: left
    retina-image( "../img/jpg/html5.jpg", 80px 80px, "@2x" )
  &__figure--css
    width 80px
    height 91px
    float: left
    retina-image( "../img/jpg/css3.jpg", 80px 91px, "@2x" )
  &__figure--js
    width 80px
    height 90px
    float: left
    retina-image( "../img/jpg/javascript.jpg", 80px 90px, "@2x" )
  &__figure--php
    width 80px
    height 74px
    float: left
    retina-image( "../img/jpg/php.jpg", 80px 74px, "@2x" )
  &__aside
    float: right
    font-size: 2.058rem
    color #3B3B3B
  &__level
    margin-bottom 1.5rem
  &__level__content
    color #00AE25
  &__level__content--php
    color #D57013